.page-content.container-fluid.p-0
  .row.row-0
    .col-lg-12
      .pl-30.pr-30.clearfix.overlay.text-white(style='height: 260px; padding-top: 130px')
        .pull-left.media
          .media-left
            img.img-main.img-responsive(src=build+'images/backgrounds/profile.png', alt='', style='opacity: 1; z-index: -1')
            a(href='javascript:void(0)', style='display: inline-block; border-radius: 50%; padding: 3px; background-color: #fff;')
              img.img-circle(src=build+'images/users/06.jpg', width='100', alt='')
          .media-body.media-middle(style='width: auto')
            h2.media-heading Steven Cook
            .fs-20 Software Developer
        .pull-right.text-center
          ul.list-inline
            li
              .fs-24.fw-500 208
              p Followers
            li
              .fs-24.fw-500 560
              p Likes
            li
              .fs-24.fw-500 95
              p Photos
          button.btn.btn-raised.btn-block.btn-primary(type='button') Follow
  .row.ml-10.mr-10.pt-10
    .col-md-3
      .widget.clear
        .widget-heading
          h3.widget-title About me
        .widget-body
          ul.media-list.mb-0
            li.media
              .media-left
                i.ti-briefcase.text-info
              .media-body
                p Software Developer
            li.media
              .media-left
                i.ti-gift.text-info
              .media-body
                p 20 October 1990
            li.media
              .media-left
                i.ti-email.text-info
              .media-body
                p lethemes@gmail.com
            li.media
              .media-left
                i.ti-home.text-info
              .media-body
                p 4270 Cottage Hill Road
            li.media
              .media-left
                i.ti-mobile.text-info
              .media-body
                p (251) 300-2770
            li.media
              .media-left
                i.ti-world.text-info
              .media-body
                p www.lethemes.net
      .widget.clear
        .widget-heading
          h3.widget-title Biography
        .widget-body
          p I am an Java, Android and Python software developer and teacher with 5 years of development experience! Whats more I reveal all my knowledge and secrets in my courses!
          p I've been using Java since all the way back in 2006 !
      .widget.clear
        .widget-heading
          h3.widget-title Skills
        .widget-body
          ul.list-unstyled.mb-0
            li
              .block.clearfix.mb-5
                span.pull-left.fs-12 HTML5
                span.pull-right.label.label-outline.label-primary 95%
              .progress.progress-xs
                .progress-bar(role='progressbar', data-transitiongoal='85')
            li
              .block.clearfix.mb-5
                span.pull-left.fs-12 CSS
                span.pull-right.label.label-outline.label-success 98%
              .progress.progress-xs
                .progress-bar.progress-bar-success(role='progressbar', data-transitiongoal='98')
            li
              .block.clearfix.mb-5
                span.pull-left.fs-12 Javascript
                span.pull-right.label.label-outline.label-purple 85%
              .progress.progress-xs
                .progress-bar.progress-bar-purple(role='progressbar', data-transitiongoal='85')
    .col-md-6
      .widget.clear
        .widget-heading
          .media
            .media-left
              img.media-object.mo-lg.img-circle(src=build+'images/users/10.jpg', alt='')
            .media-body.media-middle
              p.mb-0
                span.fw-500 Philip Fernandez
                |  uploaded a new photo
              time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                i.ti-time
                |  12:03 PM
        .widget-body
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua.
          .thumbnail
            img(src=build+'images/backgrounds/02.jpg', alt='')
            .text-right.caption
              ul.list-inline.mb-0
                li
                  i.ti-comment.text-info
                  |  239
                li
                  i.ti-heart.text-danger
                  |  4325
                li
                  i.ti-share.text-success
                  |  3654
          ul.media-list
            li.media
              .media-left.avatar
                img.media-object.img-circle(alt='', src=build+'images/users/01.jpg')
                span.status.bg-success
              .media-body
                h5.media-heading.inline-block Philip Fernandez
                time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                  i.ti-time
                  |  12:12 PM
                p Mission accomplished. It's revolutionary.
                .media
                  .media-left.avatar
                    img.media-object.img-circle(alt='', src=build+'images/users/12.jpg')
                    span.status.bg-success
                  .media-body
                    h5.media-heading.inline-block Carolyn Hernandez
                    time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                      i.ti-time
                      |  12:14 PM
                    p Vastly thought out! Found myself staring at it for minutes.
                    .media
                      .media-left.avatar
                        img.media-object.img-circle(alt='', src=build+'images/users/11.jpg')
                        span.status.bg-success
                      .media-body
                        h5.media-heading.inline-block Johnny Shaw
                        time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                          i.ti-time
                          |  12:15 PM
                        p Let me take a nap... great colour palette, anyway.
                .media
                  .media-left.avatar
                    img.media-object.img-circle(alt='', src=build+'images/users/14.jpg')
                    span.status.bg-success
                  .media-body
                    h5.media-heading.inline-block Jean Boyd
                    time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                      i.ti-time
                      |  12:14 PM
                    p
                      | This camera angle has navigated right into my heart.
                      | My 32 year old parent rates this icons very cool :)
      .widget.clear
        .widget-heading
          .media
            .media-left
              img.media-object.mo-lg.img-circle(src=build+'images/users/12.jpg', alt='')
            .media-body.media-middle
              p.mb-0
                span.fw-500 Pamela Day
                |  at 
                span.fw-500 Los Angeles
              time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                i.ti-time
                |  9:29 PM
        .widget-body
          p Looks fun and good :-)
          .thumbnail
            #simpleMap(style='height:350px;')
            .text-right.caption
              ul.list-inline.mb-0
                li
                  i.ti-comment.text-info
                  |  43
                li
                  i.ti-heart.text-danger
                  |  437
                li
                  i.ti-share.text-success
                  |  651
          ul.media-list
            li.media
              .media-left.avatar
                img.media-object.img-circle(alt='', src=build+'images/users/01.jpg')
                span.status.bg-success
              .media-body
                h5.media-heading.inline-block Philip Fernandez
                time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                  i.ti-time
                  |  12:12 PM
                p Mission accomplished. It's revolutionary.
                .media
                  .media-left.avatar
                    img.media-object.img-circle(alt='', src=build+'images/users/12.jpg')
                    span.status.bg-success
                  .media-body
                    h5.media-heading.inline-block Carolyn Hernandez
                    time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                      i.ti-time
                      |  12:14 PM
                    p Vastly thought out! Found myself staring at it for minutes.
                    .media
                      .media-left.avatar
                        img.media-object.img-circle(alt='', src=build+'images/users/11.jpg')
                        span.status.bg-success
                      .media-body
                        h5.media-heading.inline-block Johnny Shaw
                        time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                          i.ti-time
                          |  12:15 PM
                        p Let me take a nap... great colour palette, anyway.
                .media
                  .media-left.avatar
                    img.media-object.img-circle(alt='', src=build+'images/users/14.jpg')
                    span.status.bg-success
                  .media-body
                    h5.media-heading.inline-block Jean Boyd
                    time.text-muted.fs-12(datetime='2015-12-10T20:50:48+07:00') 20 Jan 2016 
                      i.ti-time
                      |  12:14 PM
                    p
                      | This camera angle has navigated right into my heart.
                      | My 32 year old parent rates this icons very cool :)
    .col-md-3
      .widget.clear
        .widget-heading
          h3.widget-title Team member
        .widget-body
          ul.media-list.mb-0
            li.media
              a.conversation-toggle(href='javascript:;')
                .media-left.avatar
                  img.media-object.img-circle(src=build+'images/users/10.jpg', alt='')
                  span.status.bg-success
                .media-body
                  h5.media-heading Philip Fernandez
                  p.text-muted.mb-0 489 Rhapsody Street
            li.media
              a.conversation-toggle(href='javascript:;')
                .media-left.avatar
                  img.media-object.img-circle(src=build+'images/users/20.jpg', alt='')
                  span.status.bg-success
                .media-body
                  h5.media-heading Mary Carr
                  p.text-muted.mb-0 3611 West Fork Drive
            li.media
              a.conversation-toggle(href='javascript:;')
                .media-left.avatar
                  img.media-object.img-circle(src=build+'images/users/11.jpg', alt='')
                  span.status.bg-danger
                .media-body
                  h5.media-heading Joseph Salazar
                  p.text-muted.mb-0 4489 Hart Ridge Road
            li.media
              a.conversation-toggle(href='javascript:;')
                .media-left.avatar
                  img.media-object.img-circle(src=build+'images/users/06.jpg', alt='')
                  span.status.bg-warning
                .media-body
                  h5.media-heading John Cruz
                  p.text-muted.mb-0 3274 Lyndon Street
            li.media
              a.conversation-toggle(href='javascript:;')
                .media-left.avatar
                  img.media-object.img-circle(src=build+'images/users/19.jpg', alt='')
                  span.status.bg-success
                .media-body
                  h5.media-heading Jacqueline Rios
                  p.text-muted.mb-0 559 Holly Street
      .widget.clear
        .widget-heading
          h3.widget-title Activities
        .widget-body
          ul.media-list.mb-0
            li.media
              .media-left
                i.ti-control-record.text-info
              .media-body
                p Recommended Karen Ortega
            li.media
              .media-left
                i.ti-control-record.text-danger
              .media-body
                p Retweeted George Lewis
            li.media
              .media-left
                i.ti-control-record.text-warning
              .media-body
                p Followed Olivia Williamson
            li.media
              .media-left
                i.ti-control-record.text-success
              .media-body
                p Replied to Janice Davis
            li.media
              .media-left
                i.ti-control-record.text-primary
              .media-body
                p Favorited Arthur Gomez
