- var build = 'build/'
- var plugins = 'plugins/'

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Umega App - Responsive web app kit
    // PACE
    link(rel='stylesheet', type='text/css', href=plugins+'PACE/themes/blue/pace-theme-flash.css')
    script(type='text/javascript', src=plugins+'PACE/pace.min.js')
    // Bootstrap CSS
    link(rel='stylesheet', type='text/css', href=plugins+'bootstrap/dist/css/bootstrap.min.css')
    // Fonts
    link(rel='stylesheet', type='text/css', href=plugins+'themify-icons/themify-icons.css')
    // Primary Style
    link(rel='stylesheet', type='text/css', href=build+'css/demo-page.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    | 
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body.body-bg-full(style='background-image: url('+build+'images/backgrounds/16.jpg)')
    header
      .logo
        i.ti-underline
      h3.fw-300.fs-22.text-white.m-0 Welcome To Umega - Responsive Web App Kit 
    section
      .container 
        .row
          .col-md-4
            a.layout(href='first-layout/index.html', target='_blank')
              img.img-responsive(src=build+'images/demo/01.jpg', alt='')
          .col-md-4
            a.layout(href='second-layout/index.html', target='_blank')
              img.img-responsive(src=build+'images/demo/02.jpg', alt='')
          .col-md-4
            a.layout(href='#')
              img.img-responsive(src=build+'images/demo/coming-soon.jpg', alt='')
    footer
      h3.fw-300.fs-22.text-white.mt-0.mb-20 Do You Like Umega Web App Kit?
      .fw-300.text-white.mb-20(style='font-size: 80px') $24
      a.btn.btn-lg.btn-rounded.btn-primary(href='http://themeforest.net/item/umega-responsive-web-app-kit/15482080', role='button', style='width: 220px') Purchase Now
    // jQuery
    script(type='text/javascript', src=plugins+'jquery/dist/jquery.min.js')
    // Bootstrap JavaScript
    script(type='text/javascript', src=plugins+'bootstrap/dist/js/bootstrap.min.js')