// MomentJS
script(type='text/javascript', src=plugins+'moment/min/moment.min.js')
// Bootstrap DateTimePicker
script(type='text/javascript', src=plugins+'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
// Bootstrap Date Range Picker
script(type='text/javascript', src=plugins+'bootstrap-daterangepicker/daterangepicker.js')
// jQuery Steps
script(type='text/javascript', src=plugins+'jquery.steps/build/jquery.steps.min.js')
// DataTables
script(type='text/javascript', src=plugins+'datatables.net/js/jquery.dataTables.min.js')
script(type='text/javascript', src=plugins+'datatables.net-bs/js/dataTables.bootstrap.min.js')
script(type='text/javascript', src=plugins+'datatables.net-select/js/dataTables.select.min.js')