// Flot Charts
<!--[if lte IE 8]>
<script type="text/javascript" src="https://raw.githubusercontent.com/flot/flot/master/excanvas.min.js"></script>
<![endif]-->
script(type='text/javascript', src=plugins+'flot/jquery.flot.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.resize.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.stack.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.pie.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.time.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.symbol.js')
script(type='text/javascript', src=plugins+'flot.tooltip/js/jquery.flot.tooltip.min.js')