// Jvector Map
script(type='text/javascript', src=plugins+'jvectormap/jquery-jvectormap-2.0.3.min.js')
script(type='text/javascript', src=plugins+'jvectormap/maps/jquery-jvectormap-europe-mill.js')
script(type='text/javascript', src=plugins+'jvectormap/maps/jquery-jvectormap-us-mill.js')
script(type='text/javascript', src=plugins+'jvectormap/maps/jquery-jvectormap-fr_regions_2016-mill.js')
script(type='text/javascript', src=plugins+'jvectormap/maps/jquery-jvectormap-ca-mill.js')
script(type='text/javascript', src=plugins+'jvectormap/maps/jquery-jvectormap-world-mill.js')
script(type='text/javascript', src=plugins+'jvectormap/maps/jquery-jvectormap-asia-mill.js')
script(type='text/javascript', src=plugins+'jvectormap/maps/jquery-jvectormap-au-mill.js')