// MomentJS
script(type='text/javascript', src=plugins+'moment/min/moment.min.js')
// Moment With Locales
script(type='text/javascript', src=plugins+'moment/locale/fr.js')
script(type='text/javascript', src=plugins+'moment/locale/ru.js')
script(type='text/javascript', src=plugins+'moment/locale/ja.js')
script(type='text/javascript', src=plugins+'moment/locale/vi.js')
// Bootstrap DateTimePicker
script(type='text/javascript', src=plugins+'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')