// Bootstrap DateTimePicker
link(rel='stylesheet', type='text/css', href=plugins+'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
// Bootstrap Date Range Picker
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-daterangepicker/daterangepicker.css')
// jQuery Steps
link(rel='stylesheet', type='text/css', href=plugins+'jquery.steps/demo/css/jquery.steps.css')
// DataTables
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-bs/css/dataTables.bootstrap.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-select-bs/css/select.bootstrap.min.css')