// Toastr
link(rel='stylesheet', type='text/css', href=plugins+'toastr/toastr.min.css')
// SpinKit
link(rel='stylesheet', type='text/css', href=plugins+'SpinKit/css/spinners/7-three-bounce.css')
// Jvector Map
link(rel='stylesheet', type='text/css', href=plugins+'jvectormap/jquery-jvectormap-2.0.3.css')
// Morris Chart
link(rel='stylesheet', type='text/css', href=plugins+'morris.js/morris.css')
// DataTables
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-bs/css/dataTables.bootstrap.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-buttons-bs/css/buttons.bootstrap.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-colreorder-bs/css/colReorder.bootstrap.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'datatables.net-responsive-bs/css/responsive.bootstrap.min.css')
// Weather Icons
link(rel='stylesheet', type='text/css', href=plugins+'weather-icons/css/weather-icons-wind.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'weather-icons/css/weather-icons.min.css')
// FullCalendar
link(rel='stylesheet', type='text/css', href=plugins+'fullcalendar/dist/fullcalendar.min.css')
link(rel='stylesheet', type='text/css', href=plugins+'fullcalendar/dist/fullcalendar.print.css', media='print')
// jQuery MiniColors
link(rel='stylesheet', type='text/css', href=plugins+'jquery-minicolors/jquery.minicolors.css')
// Bootstrap Date Range Picker
link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-daterangepicker/daterangepicker.css')