// MomentJS
script(type='text/javascript', src=plugins+'moment/min/moment.min.js')
// jQuery UI
script(type='text/javascript', src=plugins+'jquery-ui/jquery-ui.min.js')
// FullCalendar
script(type='text/javascript', src=plugins+'fullcalendar/dist/fullcalendar.min.js')
script(type='text/javascript', src=plugins+'fullcalendar/dist/lang-all.js')
script(type='text/javascript', src=plugins+'fullcalendar/dist/gcal.js')
// jQuery MiniColors
script(type='text/javascript', src=plugins+'jquery-minicolors/jquery.minicolors.min.js')