// DataTables
script(type='text/javascript', src=plugins+'datatables.net/js/jquery.dataTables.min.js')
script(type='text/javascript', src=plugins+'datatables.net-bs/js/dataTables.bootstrap.min.js')
script(type='text/javascript', src=plugins+'datatables.net-buttons/js/dataTables.buttons.min.js')
script(type='text/javascript', src=plugins+'datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
script(type='text/javascript', src=plugins+'jszip/dist/jszip.min.js')
script(type='text/javascript', src=plugins+'pdfmake/build/pdfmake.min.js')
script(type='text/javascript', src=plugins+'pdfmake/build/vfs_fonts.js')
script(type='text/javascript', src=plugins+'datatables.net-buttons/js/buttons.print.min.js')
script(type='text/javascript', src=plugins+'datatables.net-buttons/js/buttons.html5.min.js')
script(type='text/javascript', src=plugins+'datatables.net-colreorder/js/dataTables.colReorder.min.js')
script(type='text/javascript', src=plugins+'datatables.net-responsive/js/dataTables.responsive.min.js')
script(type='text/javascript', src=plugins+'datatables.net-responsive-bs/js/responsive.bootstrap.js')