// Bootstral Maxlength
script(type='text/javascript', src=plugins+'bootstrap-maxlength/src/bootstrap-maxlength.js')
// Bootstrap TouchSpin
script(type='text/javascript', src=plugins+'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js')
// Bootstrap Context Menu
script(type='text/javascript', src=plugins+'bootstrap-menu/dist/BootstrapMenu.min.js')
// Toastr
script(type='text/javascript', src=plugins+'toastr/toastr.min.js')
// Bootstrap Tags Input
script(type='text/javascript', src=plugins+'bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
// Typeahead
script(type='text/javascript', src=plugins+'typeahead.js/dist/typeahead.jquery.min.js')
script(type='text/javascript', src=plugins+'typeahead.js/dist/typeahead.bundle.min.js')
script(type='text/javascript', src=plugins+'typeahead.js/dist/bloodhound.min.js')