// Demo Settings start
.setting.closed
  a.setting-toggle.fs-16(href='javascript:;')
    i.ti-palette.text-white
  h5.fs-16.mt-0.mb-20.text-white Background Images
  ul.list-inline
    li
      a(href='javascript:;', data-bg='14.jpg').inline-block.body-bg
        img.img-rounded(src=build+'images/thumbnails/14.jpg', width='60', alt='')
    li
      a(href='javascript:;', data-bg='15.jpg').inline-block.body-bg
        img.img-rounded(src=build+'images/thumbnails/15.jpg', width='60', alt='')
    li
      a(href='javascript:;', data-bg='16.jpg').inline-block.body-bg
        img.img-rounded(src=build+'images/thumbnails/16.jpg', width='60', alt='')
  ul.list-inline.mb-0
    li
      a(href='javascript:;', data-bg='17.jpg').inline-block.body-bg
        img.img-rounded(src=build+'images/thumbnails/17.jpg', width='60', alt='')
    li
      a(href='javascript:;', data-bg='18.jpg').inline-block.body-bg
        img.img-rounded(src=build+'images/thumbnails/18.jpg', width='60', alt='')
    li
      a(href='javascript:;', data-bg='19.jpg').inline-block.body-bg
        img.img-rounded(src=build+'images/thumbnails/19.jpg', width='60', alt='')
// Demo Settings end