block config
  include ../../config/config.jade

doctype html
html(lang='en', style='height: 100%')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    // PACE
    link(rel='stylesheet', type='text/css', href=plugins+'PACE/themes/blue/pace-theme-flash.css')
    script(type='text/javascript', src=plugins+'PACE/pace.min.js')
    // Bootstrap CSS
    link(rel='stylesheet', type='text/css', href=plugins+'bootstrap/dist/css/bootstrap.min.css')
    // Fonts
    link(rel='stylesheet', type='text/css', href=plugins+'themify-icons/themify-icons.css')
    block css
    // Primary Style
    link(rel='stylesheet', type='text/css', href=build+'css/second-layout.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    | 
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body.body-bg-full(style='background-image: url('+build+'images/backgrounds/16.jpg)')
    .container.page-container
      .page-content
        block page-content
    include extra-setting.jade
    // jQuery
    script(type='text/javascript', src=plugins+'jquery/dist/jquery.min.js')
    // Bootstrap JavaScript
    script(type='text/javascript', src=plugins+'bootstrap/dist/js/bootstrap.min.js')
    block js
    // Custom JS
    script(type='text/javascript', src=build+'js/second-layout/extra-demo.js')
    block custom-js