// Toastr
script(type='text/javascript', src=plugins+'toastr/toastr.min.js')
// MomentJS
script(type='text/javascript', src=plugins+'moment/min/moment.min.js')
// jQuery BlockUI
script(type='text/javascript', src=plugins+'blockUI/jquery.blockUI.js')
// jQuery Counter Up
script(type='text/javascript', src=plugins+'jquery-waypoints/waypoints.min.js')
script(type='text/javascript', src=plugins+'Counter-Up/jquery.counterup.min.js')
// Jvector Map
script(type='text/javascript', src=plugins+'jvectormap/jquery-jvectormap-2.0.3.min.js')
script(type='text/javascript', src=plugins+'jvectormap/maps/jquery-jvectormap-world-mill.js')
// Flot Charts
| 
<!--[if lte IE 8]>
<script type="text/javascript" src="https://raw.githubusercontent.com/flot/flot/master/excanvas.min.js"></script>
<![endif]-->
script(type='text/javascript', src=plugins+'flot/jquery.flot.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.resize.js')
script(type='text/javascript', src=plugins+'flot.curvedlines/curvedLines.js')
script(type='text/javascript', src=plugins+'flot.tooltip/js/jquery.flot.tooltip.min.js')
// Morris Chart
script(type='text/javascript', src=plugins+'raphael/raphael-min.js')
script(type='text/javascript', src=plugins+'morris.js/morris.min.js')
// DataTables
script(type='text/javascript', src=plugins+'datatables.net/js/jquery.dataTables.min.js')
script(type='text/javascript', src=plugins+'datatables.net-bs/js/dataTables.bootstrap.min.js')
script(type='text/javascript', src=plugins+'datatables.net-buttons/js/dataTables.buttons.min.js')
script(type='text/javascript', src=plugins+'datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
script(type='text/javascript', src=plugins+'jszip/dist/jszip.min.js')
script(type='text/javascript', src=plugins+'pdfmake/build/pdfmake.min.js')
script(type='text/javascript', src=plugins+'pdfmake/build/vfs_fonts.js')
script(type='text/javascript', src=plugins+'datatables.net-buttons/js/buttons.print.min.js')
script(type='text/javascript', src=plugins+'datatables.net-buttons/js/buttons.html5.min.js')
script(type='text/javascript', src=plugins+'datatables.net-colreorder/js/dataTables.colReorder.min.js')
script(type='text/javascript', src=plugins+'datatables.net-responsive/js/dataTables.responsive.min.js')
script(type='text/javascript', src=plugins+'datatables.net-responsive-bs/js/responsive.bootstrap.js')
// jQuery UI
script(type='text/javascript', src=plugins+'jquery-ui/jquery-ui.min.js')
// FullCalendar
script(type='text/javascript', src=plugins+'fullcalendar/dist/fullcalendar.min.js')
// jQuery MiniColors
script(type='text/javascript', src=plugins+'jquery-minicolors/jquery.minicolors.min.js')
// Bootstrap Date Range Picker
script(type='text/javascript', src=plugins+'bootstrap-daterangepicker/daterangepicker.js')