.page-content.container-fluid
  .row
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Flippers
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/01.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-primary(type='button') flip
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') flipInX
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') flipInY
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') flipOutX
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') flipOutY
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Fading entrances
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/02.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-primary(type='button') fadeIn
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fadeInUp
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fadeInDown
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fadeInLeft
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fadeInRight
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fadeInUpBig
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fadeInDownBig
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fadeInLeftBig
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fadeInRightBig
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Fading exits
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/03.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-primary(type='button') fadeOut
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') fadeOutUp
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') fadeOutDown
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') fadeOutLeft
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') fadeOutRight
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') fadeOutUpBig
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') fadeOutDownBig
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') fadeOutLeftBig
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') fadeOutRightBig
  .row
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Bouncing entrances
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/09.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-primary(type='button') bounceIn
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') bounceInUp
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') bounceInDown
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') bounceInLeft
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') bounceInRight
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Bouncing exits
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/07.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-primary(type='button') bounceOut
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') bounceOutUp
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') bounceOutDown
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') bounceOutLeft
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') bounceOutRight
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Rotating entrances
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/08.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-primary(type='button') rotateIn
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') rotateInUpLeft
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') rotateInDownLeft
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') rotateInUpRight
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') rotateInDownRight
  .row
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Rotating exits
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/01.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-primary(type='button') rotateOut
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') rotateOutUpLeft
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') rotateOutDownLeft
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') rotateOutUpRight
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') rotateOutDownRight
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Specials
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/03.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') wiggle
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') hinge
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') fade
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') appear
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') spinner
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') wobble
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') bounce
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') flash
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') swing
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') pulse
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') shake
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') tada
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title And more
        .widget-body
          .thumbnail
            img(src=build+'images/backgrounds/02.jpg', alt='')
          .row.btn-demo.animation-demo
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') lightSpeedIn
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') lightSpeedOut
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') rollIn
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') rollOut
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-info(type='button') twirlIn
            .col-xs-6
              button.btn.btn-sm.btn-block.btn-outline.btn-success(type='button') twirlOut